.pirho-combo-box
{
	flex-direction: row;
	flex-grow: 1;
}

.pirho-combo-box__text
{
	flex-grow: 1;
	margin: 0px 0px 1px 0px;
}

.pirho-combo-box__button
{
	min-width: 20px;
	max-width: 20px;
	height: 19px;
	align-self: center;
	padding: 5px 3px 5px 4px;
	margin: 1px 0px;
}

.pirho-combo-box__button:hover
{
	background-color: #E8E8E8;
}

.pirho-combo-box__button:active
{
	background-color: #6B6B6B;
}