.pirho-message-box
{
	background-color: #B8B8B8;
	border-width: 1px;
	border-color: #999999;
	flex-direction: row;
	padding: 5px;
	align-items: center;
	max-height: 100px;
	margin: 5px 0;
	font-size: 80%;
}

.pirho-message-box__image
{
	min-width: 32px;
	min-height: 32px;
	max-width: 32px;
	max-height: 32px;
}

.pirho-message-box__label
{
	-unity-text-align: middle-center;
	margin-left: 5px;
	margin-right: 5px;
	flex-shrink: 1;
	white-space: normal;
}
