.pirho-slider-field
{
}

.pirho-slider-field__input
{
	flex-direction: row;
	flex-grow: 1;
}

.pirho-slider-field__input__slider
{
	flex-grow: 1;
}

.pirho-slider-field__input__text
{
	width: 50px;
	margin: 0px;
}
