.pirho-base-picker
{
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.pirho-base-picker__button
{
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	padding: 0px 3px 1px 3px;
}

.pirho-base-picker__button__icon
{
	min-height: 12px;
	max-height: 12px;
	min-width: 12px;
	max-width: 12px;
	margin: 1px 5px 0px 0px;
	align-self: center;
}

.pirho-base-picker__button__label
{
	flex-grow: 1px;
	margin-top: 1px;
	margin-bottom: 0px;
}
